asgiref==3.7.2 ; python_version >= "3.11" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
crispy-bootstrap5==0.7 ; python_version >= "3.11" and python_version < "4.0"
dj-database-url==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
dj-email-url==1.0.6 ; python_version >= "3.11" and python_version < "4.0"
django-cache-url==3.4.4 ; python_version >= "3.11" and python_version < "4.0"
django-crispy-forms==2.0 ; python_version >= "3.11" and python_version < "4.0"
django==3.2 ; python_version >= "3.11" and python_version < "4.0"
environs==9.5.0 ; python_version >= "3.11" and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.11" and python_version < "4.0"
marshmallow==3.20.1 ; python_version >= "3.11" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.11" and python_version < "4.0"
platformdirs==3.11.0 ; python_version >= "3.11" and python_version < "4.0"
psycopg2-binary==2.9.9 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
pytz==2023.3.post1 ; python_version >= "3.11" and python_version < "4.0"
setuptools==68.2.2 ; python_version >= "3.11" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.8.0 ; python_version >= "3.11" and python_version < "4.0"
whitenoise==6.4.0 ; python_version >= "3.11" and python_version < "4.0"
